<app-topmenu>
    <div buttons>
        <button mat-flat-button type="button" color="secondary" (click)="refreshPage()">Refresh</button>
<!--        <button mat-flat-button type="button" color="secondary" (click)="clear()">Clear</button>-->
<!--        <button mat-flat-button type="button" color="primary" (click)="run()">Retrieve users</button>-->
    </div>
</app-topmenu>

<div *ngIf="pageIsShowingPolines else notAPolinePage">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Please select PO Lines to cancel</mat-card-title>
            <mat-card-subtitle>PO Lines having status '<b class="bold-weight">{{REMOVE_STATUSES.toString()}}</b>' are not shown!</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <button class="linkButton all" (click)="selectAllGui()">Select all</button>
            <form [formGroup]="allPolinesForm" (ngSubmit)="onSubmit()">
                <div formArrayName="allPolines">
                    <div *ngFor="let allPoLine of allPolines().controls; let allPolinesIndex=index">
                        <div class="selectPoline" [formGroupName]='allPolinesIndex'>
                            <button class="linkButton" (click)="removeFromAllPoLine(allPolinesIndex)">Select</button>{{allPoLine.get('description').value| truncate : 40}}
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    <br>
    <mat-card *ngIf="deletePolines().length>0">
        <mat-card-header>
            <mat-card-title>Selected PO Lines</mat-card-title>
            <mat-card-subtitle>Deselect or click 'Cancel Selected'</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <button class="linkButton all" (click)="deselectAllGui()">Deselect all</button>
            <form [formGroup]="deletePolinesForm" (ngSubmit)="onSubmit()">
                <div formArrayName="deletePolines">
                    <div *ngFor="let deletePoline of deletePolines().controls; let deletePolinesIndex=index">
                        <div class="selectPoline" [formGroupName]='deletePolinesIndex'>
                            <button class="linkButton" (click)="undoRemoveFromAllPoLine(deletePolinesIndex)">Deselect</button>{{deletePoline.get('description').value| truncate : 40}}
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button  mat-raised-button color="primary" (click)="cancelSelectedPolines()">Cancel Selected</button>
        </mat-card-actions>
    </mat-card>

    <div *ngIf="deletedOK.length>0 || deletedError.length>0">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Status</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-card-subtitle><b class="bold-weight">{{deletedOK.length}} </b>PO Lines Deleted OK:</mat-card-subtitle>
                <div *ngFor="let tmpDeletedOk of deletedOK">{{tmpDeletedOk | truncate: 25}}</div>
                <mat-card-subtitle><b class="bold-weight">{{deletedError.length}} </b>PO Lines Falied(Errormessage will show on mouse over!)</mat-card-subtitle>
                <div *ngFor="let tmpDeletedError of deletedError" class="tooltip">
                    {{tmpDeletedError | truncate: 25}}
                    <span class="tooltiptext">{{tmpDeletedError}}</span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<ng-template #notAPolinePage>
    <h2>Please navigate to an Alma PO Line list page.</h2>
</ng-template>

<!--{{this.allPolinesForm.value | json}}-->

<!--
<form [formGroup]="myForm">
    <div formArrayName="myOptionsArray">
        <div *ngFor="let myOption of myOptionsArray.controls; let i = index">
            <div formGroupName="{{ i }}">
                <input type="checkbox" [formControl]="myOption.get('selected')" (change)="onCheckboxChange(myOption)" />
                <label> {{ myOption.get('name').value }} {{ myOption.get('link').value }} </label>
            </div>
        </div>
    </div>
</form>
<section>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Valgte options</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div *ngFor="let selected of selectedFormControls; let i = index">
                <mat-label>{{selected.get('id').value}}</mat-label>
                <input type="text" [value]="selected.get('name').value">
            </div>
        </mat-card-content>
    </mat-card>
</section>



<div>
    <label>Antal behandlede: {{this.processed}}</label>
</div>
<div>
    <label>Antal fejl: {{this.numberOfErrors}}</label><br>
    <label>Alt. antal fejl: {{this.altNumberOfErrors}}</label>
</div>

<div class="loading-shade" *ngIf="loading">
    <mat-progress-spinner
            [mode]="showProgress ? 'determinate' : 'indeterminate'"
            diameter="50"
            [value]="percentComplete"
    >
    </mat-progress-spinner>
</div>
<mat-form-field>
    <mat-label>Number of users to retrieve</mat-label>
    <mat-select [(value)]="num">
        <mat-option [value]="5">5</mat-option>
        <mat-option [value]="10">10</mat-option>
        <mat-option [value]="20">20</mat-option>
        <mat-option [value]="30">30</mat-option>
        <mat-option [value]="40">40</mat-option>
        <mat-option [value]="50">50</mat-option>
        <mat-option [value]="100">100</mat-option>
    </mat-select>
</mat-form-field>
<mat-checkbox [(ngModel)]="showProgress" labelPosition="before">Show progress</mat-checkbox>

<div *ngFor="let user of users">
    <mat-checkbox [(ngModel)]="user.primary_id" labelPosition="after"><strong>{{ user.full_name }}</strong>{{ user.fees.value }}</mat-checkbox>
</div>

<ul>
    <li *ngFor="let id of usersNotLoaded">
        <strong>{{ id }}</strong>
    </li>
</ul>
-->
