<app-topmenu xmlns="http://www.w3.org/1999/html">
    <div buttons>
        <button mat-flat-button type="button" color="primary" (click)="save()" [disabled]="!(form?.dirty)">Save</button>
<!--        <button mat-flat-button type="button" color="primary" (click)="remove()">Remove all settings</button> -->
    </div>
</app-topmenu>
<div class="loading-shade" *ngIf="saving">
    <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
</div>
<div *ngIf="form">
    <form [formGroup]="form">
        <mat-card class="input-card">
            <mat-card-header>
                <mat-card-title>PO Lines - replace vendor:</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <label>Vendor name of found PO Lines must include:</label><br>
                <section class="settings-section">
                    <mat-form-field appearance="fill">
                        <mat-label class="example-margin"></mat-label>
                        <input matInput formControlName="polineVendorNameFilter">
                    </mat-form-field>
                </section>
                <label>Vendor code of found vendors must include:</label><br>
                <section class="settings-section">
                    <mat-form-field appearance="fill">
                        <mat-label class="example-margin"></mat-label>
                        <input matInput formControlName="vendorCodeFilter">
                    </mat-form-field>
                </section>
                <section class="settings-section">
                    <div>
                        <mat-checkbox formControlName="searchUsingBib260B" >Pre-fill search for vendors with Bib datafield 260 b (Special case for The Royal Danish Library?)</mat-checkbox>
<!--
                        <mat-icon class="tooltip">info</mat-icon>
                        <div class="tooltiptext">Special case for The Royal Danish Library. Leave unchecked</div>
-->
                    </div>
                </section>
                <label>Limit number of found vendors to: </label><br>
                <section class="settings-section">
                    <mat-radio-group formControlName="vendorSearchLimit">
                        <mat-radio-button class="settings-control" [value]="10">10</mat-radio-button>
                        <mat-radio-button class="settings-control" [value]="20">20</mat-radio-button>
                        <mat-radio-button class="settings-control" [value]="50">50</mat-radio-button>
                    </mat-radio-group>
                </section>
            </mat-card-content>
        </mat-card>

        <mat-card class="input-card input-card-cancel">
            <mat-card-header>
                <mat-card-title>PO Lines - cancel:</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <label>Do not show PO Lines with status:</label><br>
                <section class="settings-section">
                    <div>
                        <mat-checkbox formControlName="CANCELLED">Cancelled</mat-checkbox><br>
                        <mat-checkbox formControlName="DELETED">Deleted</mat-checkbox><br>
                        <mat-checkbox formControlName="CLOSED">Closed</mat-checkbox><br>
                    </div>
                </section>
            </mat-card-content>
        </mat-card>
    </form>
    <pre>{{ form.value | json }}</pre>
</div>
