<app-topmenu>
    <div buttons>
        <button mat-flat-button color="secondary" [disabled]="selectedEntities.length==0" (click)="selectEntities.clear()">Clear</button>
    </div>
</app-topmenu>
<!--<p>A total of <strong>{{ selectedEntities.length }}</strong> items have been selected.</p>-->
<div *ngIf="count == 0">Please navigate to a list.</div>
<eca-select-entities #selectEntities
                     [(selected)]="selectedEntities"
                     (count)="count=$event"
>
</eca-select-entities>
<mat-card-actions>
    <button mat-raised-button color="primary" (click)="DeleteSelected()"
    >Delete selected</button>
    <button mat-raised-button color="secondary" (click)="ShowSelected()"
    >Show selected</button>
</mat-card-actions>

<section>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>API Result 2</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <textarea #apiResultArea [value]="apiResult | json"></textarea>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="update(apiResultArea.value)"
                    [disabled]="!hasApiResult || loading">Update</button>
        </mat-card-actions>
    </mat-card>
</section>
<div class="loading-shade" *ngIf="loading">
    <mat-spinner diameter="50"></mat-spinner>
</div>
