<app-topmenu xmlns="http://www.w3.org/1999/html">
<!--
    <div buttons>
        <button mat-flat-button color="secondary" (click)="clear()">Clear</button>
    </div>
-->
</app-topmenu>

<div class="loading-shade" *ngIf="pageLoading">
    <mat-spinner diameter="50"></mat-spinner>
</div>


<section *ngIf="showSearchVendor">
    <mat-card class="input-card">
        <mat-card-header>
            <mat-card-title>Find vendor</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-label>Search criteria: </mat-label>
            <input matInput class="searchInput" #searchInput [value]="vendorSearchString" (submit)="search(searchInput.value)">
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="search(searchInput.value)">Search</button>
        </mat-card-actions>
    </mat-card>
</section>
<br>

<section *ngIf="showSearchVendorResult">
    <mat-card class="input-card">
        <mat-card-header>
            <mat-card-title *ngIf="vendorsFound; else noVendorsFoundHeader"><b>Please select a vendor</b><br> You can also make a new search</mat-card-title>
            <ng-template  #noVendorsFoundHeader>
                <mat-card-title>{{noVendorsFoundText}}</mat-card-title>
            </ng-template>
        </mat-card-header>
        <span>this.settings.vendorCodeFilter: </span>{{this.settings.vendorCodeFilter}}
        <mat-card-subtitle *ngIf="vendorSearchLimitExceeded" class="bold-weight"><b>More than {{settings.vendorSearchLimit}} vendors found! Consider altering your search criteria.</b></mat-card-subtitle>
        <mat-card-subtitle *ngIf="(this.settings.vendorCodeFilter && this.settings.vendorCodeFilter.length > 0)">Vendor code of search result is filtered with '<b class="bold-weight large">{{settings.vendorCodeFilter}}</b>'. This can be changed in 'Settings'.</mat-card-subtitle>
        <mat-card-content *ngIf="vendors().controls.length>0">
            <form [formGroup]="vendorsForm">
                <div formArrayName="vendors">
                    <mat-radio-group>
                        <div *ngFor="let tmpVendor of vendors().controls; let vendorsIndex=index">
                            <div class="selectPoline" [formGroupName]='vendorsIndex'>
                                <mat-radio-button (change)="vendorSelected(vendorsIndex)" value="{{tmpVendor.get('code').value}}">{{ tmpVendor.get('name').value| truncate : 40 }}</mat-radio-button>
                            </div>
                        </div>
                    </mat-radio-group>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</section>
<br>

<section *ngIf="vendorIsSelected">
    <mat-card class="input-card">
        <mat-card-header>
            <mat-card-title>Update vendor interaction</mat-card-title>
            <mat-card-subtitle>Selected vendor: {{selectedVendorDetailsJson.name}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content >
            <form [formGroup]="bulkTypesForm">
                <mat-form-field>
                    <input matInput  [min]="minDate" [max]="maxDate" [matDatepicker]="datepicker" placeholder="Register Date" [formControl]="registerDate">
                    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi="true" #datepicker></mat-datepicker>
                </mat-form-field>
                <mat-radio-group>
                    <mat-radio-button value="N" (change)="setEmptyBulk(false)">No materials from vendor this time.</mat-radio-button><br>
                    <mat-radio-button value="Y" (change)="setEmptyBulk(true)">Register material received</mat-radio-button>
                </mat-radio-group>
                <div *ngIf="!bulkIsEmpty" formArrayName="bulkTypes">
                    <div *ngFor="let bulkTypes of bulkTypes().controls; let bulkTypesIndex=index">
                        <div class="selectPoline" [formGroupName]='bulkTypesIndex'>
                            <mat-form-field appearance="fill" class="bulkTypeInput" floatLabel="never">
                                <input matInput placeholder="Enter number" formControlName="input" >
                                <mat-error *ngIf="hasError('input')">Only numbers allowed</mat-error>
                            </mat-form-field>
                            <label>{{ bulkTypes.get('name').value| truncate : 40 }}</label>
                            <!--                            <mat-radio-button (change)="vendorSelected(bulkTypesIndex)" value="{{bulkTypes.get('code').value}}">{{ bulkTypes.get('name').value| truncate : 40 }}</mat-radio-button>-->
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="registrer()">Save</button>
        </mat-card-actions>
    </mat-card>
</section>

